#define SERVICE_UUID "your-uuid-here"
#define CHAR_UUID_DISCONNECT "your-uuid-here"
#define CHAR_UUID_MODE "your-uuid-here"
#define CHAR_UUID_HUE "your-uuid-here"
#define CHAR_UUID_BRIGHTNESS "your-uuid-here"
